<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<!-- <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no"> -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0">

		<link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
		<!-- 自动刷新头 -->
		<!-- <meta http-equiv="refresh" content="2"> -->
		<!-- 先引入 Vue -->
		<script src="https://unpkg.com/vue/dist/vue.js"></script>

		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
		<link rel="stylesheet" href="css/shopIndex.css">
		<link rel="stylesheet" href="css/global.css">
		<link rel="stylesheet" href="css/user.css">
	</head>
	<style type="text/css">

	</style>
	<body>

		<div id="app">

			<header class="header">
				<nav>
					<div class="wrap menu_wrap" @click="openMenu">
						<i class='fa fa-align-justify'></i>
					</div>
					<div class="wrap icon_wrap">
						<div class="img_wrap">
							<img src="img/logo.png" alt="">
						</div>
					</div>
					<div class="wrap check_wrap">

						<select name="ch">
							<option value="">ZH</option>
							<option value="">EN</option>
						</select>

					</div>
				</nav>
				<div class="munu_cover" v-show="isMenu">
					<div><a href="login.html">login</a></div>
					<div><a href="register.html">register</a></div>
					<div><a href="user.html">user</a></div>
					<div><a href="shopIndex.html">shopIndex</a></div>
				</div>
			</header>




			<!-- tab-container -->
			<mt-tab-container v-model="selected" class="navBar_content">

				<mt-tab-container-item id="1" class="item1">
					<div class="form_wrap">
						<div class="title">
							<span>用户信息</span>
						</div>
						<div class="info_wrap_item">
							<div class="left_title">余额</div>
							<div class="money">$2300.10</div>
						</div>
					</div>
				</mt-tab-container-item>

				<mt-tab-container-item id="2" class="user_info_content2">

					<div class="form_wrap">
						<div class="title">
							<span>用户信息填写</span>
						</div>

						<div class="input_item">
							<div class="labe_wrap">
								<div class="input_label">产品ID</div>
							</div>
							<input type="text" class="input_text">
						</div>
						<div class="input_item">
							<div class="labe_wrap">
								<div class="input_label">详细备注</div>
							</div>
							<input type="text" class="input_text">
						</div>
						<div class="input_item">
							<div class="labe_wrap">
								<div class="input_label">地址</div>
							</div>
							<input type="text" class="input_text">
						</div>
						<div class="input_item">
							<div class="labe_wrap">
								<div class="input_label">电话</div>
							</div>
							<input type="text" class="input_text">
						</div>
						<div class="input_item">
							<div class="labe_wrap">
								<div class="input_label">姓名</div>
							</div>
							<input type="text" class="input_text">
						</div>
						<div class="input_item">
							<div class="labe_wrap">
								<div class="input_label">购买</div>
							</div>
							<input type="text" class="input_text">
						</div>

						<div class="register_btn_wrap">
							<div class="login_wrap">
								<i class="fa fa-angle-left"></i>
								<a href="login.html" class="btn_login">登录</a>
							</div>
							<mt-button size="large" class="btn_register">
								提交
							</mt-button>
						</div>
					</div>

				</mt-tab-container-item>

				<mt-tab-container-item id="3">
					<div class="form_wrap">
						<div class="title">
							<span>用户信息</span>
						</div>
						<div class="info_wrap_item">
							<div class="left_title">信息数据1</div>
							<div class="money">$2300.10</div>
						</div>
						<div class="info_wrap_item">
							<div class="left_title">信息数据2</div>
							<div class="money">$2300.10</div>
						</div>
					</div>
				</mt-tab-container-item>

			</mt-tab-container>

			<mt-tabbar v-model="selected" class="tabBar">

				<mt-tab-item id="1">
					<div slot="icon">
						<i class='fa fa-dollar'></i>
					</div>
					<span>Balance</span>
				</mt-tab-item>

				<mt-tab-item id="2">
					<div slot="icon">
						<i class='fa fa-address-card-o'></i>
					</div>
					<span>Address</span>
				</mt-tab-item>

				<mt-tab-item id="3">
					<div slot="icon">
						<i class='fa fa-shopping-cart'></i>
					</div>
					<span>Order</span>
				</mt-tab-item>

				<!-- 	<mt-tab-item id="tab4">
					<div slot="icon">
						<i class='fa fa-align-justify'></i>
					</div>
					<span>balance</span>
				</mt-tab-item> -->
			</mt-tabbar>

		</div>
	</body>


	<script>
		new Vue({
			el: '#app',
			data() {
				return {
					isMenu: false,
					selected: '1',
					dataList: [
						'选项1', '选项1', '选项1', '选项1', '选项1', '选项1'
					]


				}
			},
			methods: {
				handleClick: function() {
					this.$toast('Hello world!')
				},
				openMenu() {
					this.isMenu = !this.isMenu;
				}
			}
		})
	</script>
</html>
